<header class="masthead">
  <nav class='language-nav'>
    <ul>
      <li><a href="CSS">CSS</a></li>
      <li><a href="HTML">HTML</a></li>
      <li><a href='Javascript'>Javascript</a></li>
      <li><a href='Ruby'>Ruby</a></li>
    </ul>
  </nav>

  <img src="assets/AA_Times_Logo.png" class='logo' alt='App Academy Times logo'>

  <ul class='masthead-links'>
    <li>
      Tuesday, October 18, 2016
    </li>
    <li>
      <i class="fa fa-newspaper-o" aria-hidden="true"></i><a href="paper">Today’s Paper</a>
    </li>
    <li class='links'>
      <i class="fa fa-video-camera" aria-hidden="true"></i><a href="video">Video</a>
    </li>
    <li>
      <button>77°F</button>
    </li>
    <li>
      <button>AAO <strong>+100%</strong></button>
    </li>
  </ul>
</header>
