// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray1: #77878f;
$teal1: #87b5af;

div, body, h1, h2, h3, p, ul, li {
  font-family: 'Open Sans', sans-serif;
  color: $gray1;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.main-page {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $teal1;
  justify-content: center;
}

.list-view {
  width: 700px;
  padding: 25px;
  margin-top: 100px;
  border-radius: 5px;
  background-color: #e1dbe4;
  box-shadow: 1px 1px 8px;
}

.list-view h1 {
  padding-bottom: 25px;
}

.list-view ul {
  padding: 10px;
}

.list-item-container {
  background-color: #feecb4;
  padding: 12px;
  border-radius: 5px;
  margin-bottom: 12px;
  list-style: none;
  box-shadow: 1px 1px 5px;
}

.list-item-description {
  margin: 5px 0px;
  font-size: 12px;
}

.todo-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px;
  padding: 25px 12px;
  width: 400px;
  background-color: #feecb4;
  border-radius: 5px;
  box-shadow: 1px 1px 5px;
}

.form-input {
  border: none;
  border-radius: 2px;
  box-shadow: 0px 0px 1px;
  padding: 4px;
  font-size: 16px;
}

.todo-form-container label input {
  height: 20px;
  width: 380px;
  margin: 8px 0;
}

.todo-form-container label textarea {
  height: 100px;
  margin: 8px 0;
  width: 380px;
}

.todo-form-container button {
  padding: 15px;
  color: #77878f;
  font-size: 12px;
  font-weight: 400;
  border-radius: 3px;
}

.todo-form-container button:hover {
  background-color: #f6dad3;
}
