.sections-nav {
  border-bottom: 1px solid $light-gray;
}

.sections-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: $sans-serif;
    align-items: center;
}

.sections-nav ul li {
  margin: 8px;
}

.sections-nav ul li:hover {
  background-color: $light-gray;
  cursor: pointer;
}

.sections-nav ul li:last-of-type {
  font-size: 10px;
  text-decoration: underline;
  text-transform: uppercase;

}
